/* override bootstrap global colors */
.bg-primary{
    background:#daa520 !important;
}
.bg-secondary{
    background:#8caaa8 !important;
}
.bg-medium{
    background: #c5c5c5 !important;
}
.bg-dark{
    background:#2e2d32 !important;
}
.bg-light{
    background:#F6F5F5 !important;
}
.text-light{
    color:#F6F5F5 !important;
}
.text-dark{
    color: #2e2d32 !important;
}
.text-primary{
    color: #daa520 !important;
}/* custom button style */
.btn-custom { 
    color: #F8F8F8; 
    background-color: #DAA520; 
    border-color: #DAA520; 
  } 
.btn-outline-custom{
    color:#DAA520;
    border:1px solid #DAA520;
    background:#ffffff;

} 
  .btn-outline-custom:hover, 
  .btn-outline-custom:focus, 
  .btn-outline-custom:active, 
  .btn-outline-custom.active, 
  .open .dropdown-toggle.btn-outline-custom { 
    color: #F8F8F8; 
    background-color: #9E6C3A; 
    border-color: #DAA520; 
  } 
  .btn-custom:hover, 
  .btn-custom:focus, 
  .btn-custom:active, 
  .btn-custom.active, 
  .open .dropdown-toggle.btn-custom { 
    color: #F8F8F8; 
    background-color: #9E6C3A; 
    border-color: #DAA520; 
  } 
   
  .btn-custom:active, 
  .btn-custom.active, 
  .open .dropdown-toggle.btn-custom { 
    background-image: none; 
  } 
   
  .btn-custom.disabled, 
  .btn-custom[disabled], 
  fieldset[disabled] .btn-custom, 
  .btn-custom.disabled:hover, 
  .btn-custom[disabled]:hover, 
  fieldset[disabled] .btn-custom:hover, 
  .btn-custom.disabled:focus, 
  .btn-custom[disabled]:focus, 
  fieldset[disabled] .btn-custom:focus, 
  .btn-custom.disabled:active, 
  .btn-custom[disabled]:active, 
  fieldset[disabled] .btn-custom:active, 
  .btn-custom.disabled.active, 
  .btn-custom[disabled].active, 
  fieldset[disabled] .btn-custom.active { 
    background-color: #DAA520; 
    border-color: #DAA520; 
  } 
   
  .btn-custom .badge { 
    color: #DAA520; 
    background-color: #F8F8F8; 
  }
/* site css */
.body{
    font-family: 'Hammersmith One', sans-serif;
    color:#F6F5F5;
    background: #F6F5F5;
    /* background-image:url(https://source.unsplash.com/A-NVHPka9Rk);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
}
.fas.color {
    color:#daa520;
}
.navbar-dark .navbar-nav .active>.nav-link{
    color:#daa520;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color:#daa520;
}
.topImage{
    margin-top:-85px;
    position: absolute;
    width:100%;
    height:600px;
    z-index: -10;
    background-image: url("https://source.unsplash.com/78A265wPiO4");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 75%;
}
.sitename{
    font-size: 4rem;
}
.tour{
    color:#f6f5f5;
}
.tour .nav .nav-link{
    color:#f6f5f5;
}
.tour .nav .nav-link:hover{
    color: #daa520;
    /* text-shadow: 2px 2px 5px black; */

}
.tour .nav .nav-link.active{
    color:#daa520;
    text-shadow: 2px 2px 5px black;
    font-weight: bold;
}
@media (max-width: 991.98px){
    .navbar.navbar-expand-lg{
        background-color:#2e2d32 !important;
    }
    .tour{
        color:#daa520 ;
    }
    .tour .nav .nav-link{
        color:#daa520;
        font-size:1rem;
    }
    .tour .nav .nav-link:hover{
        color: #2e2d32;
    }
    .tour .nav .nav-link.active{
        color:#daa520;
        font-weight: bold;
        text-shadow:none;
    }
}
@media (min-width:576px){
     .tour{
         color:white;
      }
     .tour .nav .nav-link{
        color:white;
      }
}